html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{color: black;}

/* -------------------------------- */









header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background: black;
    opacity:0.5;
    width: 100%;
    position: fixed;
    top:0; left:0;
    padding: 25px 0;
    
}
header h1{color: white;
    padding-left: 20px;

}

header a{color: white;
    padding-right: 30px;
}

.visual img{
    width:100%;
    
}

.visual p{color: white;
font-size: 50px;
}
.visual strong{color: white;
font-size: 60px;
}





.content1{
	background: white;

}
.content1{
	width:1411px;
	margin:90px auto;
}

.content1 ul{
    display: flex;
    justify-content: space-around;
}
.content1 ul li{
}

.content1 ul li figure{
    background: gray;
