*{margin: 0; padding: 0;}
strong{font-weight: normal;}
li{list-style: none;}

/* 시간 */
.bar{display: flex; justify-content: space-between;
    padding-top: 10px;}
.bar .time{margin-left: 21px;color:#727272}
.bar .time2{margin-right: 21px; color:#727272 }

/* 프렌즈헤더 */
header{display: flex;align-items: center;
justify-content: space-between;
margin-top: 20px;
margin-left: 21px;
margin-bottom: 33px;
}

header h1{font-size: 24px;}

.title_icon{margin-right: 21px; font-size: 20px;}
.title_icon span{margin-left: 20px;}

#List{position: relative;}
.container{margin: 0 21px; }



/* 프로필영역 */
.find_list{border-bottom: 1px solid #ccc;}
.find_list ul{display: flex;
justify-content: space-between;
text-align: center;}
.find_list ul li{width: 25%;}
.find_list ul i{font-size: 24px;
    margin-bottom: 14px;
}

.find_list ul li p{
margin-bottom: 25px;
font-size: 14px;
color: #020202;}

/* 친구14명 영역 */
.friends_all{display: flex;
    align-items: center;
    justify-content: space-between;
    }
.friends14{padding-bottom: 20px;
    margin-top: 23px;}
.friends14 >strong{    font-size: 12px;
    opacity: 0.7;}
.friends_info {display: flex; align-items: center; margin-top: 12px;}
.friends_info div{margin-left: 17px;}


.friends_info img{width: 50px; height: 50px;
border-radius: 40%;}
.user_name{font-size: 16px; color: #020202;}
.music{background: #f5f5f5;padding: 5px 12px; border-radius: 10%;}


/* 네비 */
nav{
    width: 100%;
    position: fixed;
left: 0; bottom: 0;
background: #f9f9f9;
border-top:1px solid #ebebeb}

nav i{font-size: 20px;}
nav ul {display: flex;
justify-content: space-around;
list-style: none;
height: 54px;
align-items: center;}

nav ul li a{color: black;
text-decoration: none;}
