html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{color: black;
text-decoration: none;}
/* ------------------------------------ */


.top{
	background: black;
	text-align:right;
	padding:13px 0;
}
.top p{
	margin: 0 auto;
	width:940px;
}

header{
	width:100%;
	background: gray;
}

.menu{display: flex;
	width:940px;
	justify-content: space-between;
align-items: center;
margin: 0 auto;
}
section{
}
section ul{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: left;
    
}
section ul figure {
	margin-top:  20px;
    border: 1px solid black;
    
}

section ul figure img{
	width:220px;
	height:220px;
    border: 1px solid #ccc;
}
section ul li figure p{margin: 8px 0;}

section ul li figure>p:nth-of-type(2){
	font-size: 12px;	
}
/* figure 3번째 자식 p만 선택하는 방법을 모르겠다.-해결 */


section .nextpage{
	width:940px;
	margin: 20px auto;
	padding:10px 0;
	text-align: right;
    background: yellow;
}

section .nextpage a{
	margin-right: 15px;
}

footer{ background: gray;
padding:20px 0;
border-top: 3px solid #ccc;}

footer p{
	text-align: center;
	font-size: 12px;
	line-height: 1.5em;
}